// Shoelace

sl-tooltip::part(body),
sl-tooltip::part(base__arrow) {
  background-color: var(--secondary-color);
}

// sl-dialog
sl-dialog {
  --header-spacing: 0.75rem;
}

sl-dialog::part(header) {
  background-color: var(--light-primary-color);
}

sl-dialog::part(panel) {
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

sl-dialog::part(title) {
  font-family: "Maven-SemiBold";
  font-size: 1.6em;
  text-align: left;
}

sl-dialog::part(body) {
  text-align: left;
}

sl-checkbox::part(control--checked) {
  background: var(--secondary-color);
}


// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px) {

  sl-dialog::part(panel) {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }
}