// Toast

#toasts {
  position: fixed;
  left: 50%;
  top: 2em;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toast-entry {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin: 0 auto;
  color: black;
  border: 2px solid var(--secondary-color);
  border-radius: 200px;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: .7em 1.3em;
  font-family: "Maven-SemiBold";
  font-size: 1em;
  margin-bottom: .25em;
  text-align: center;
  transition: all .2 ease;

  &.is-error {
    background: rgba(255, 45, 45, 0.5);
    color: #fff;
    border-color: var(--primary-color);
  }
}